<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
   * {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:10%;
  text-align:center;
}
.menu a {
  background-color:rgb(48, 4, 37);
  margin-bottom:0;
  padding:40px;
  margin-top:10px;
  display:block;
  width:100%;
  color: whitesmoke;
}
.main {
  float:left;
  width:80%;
  height: 80%;
  padding:0 20px;
}
.container {
          width: 50%;
          height: 5%;
      }
.id_a {
width: 300px;
border: 15px white;
padding: 50px;
margin: 20px;
}
  
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main {
    width:100%;
  }
}

    </style>
    </head>
    <body">
      <body style="font-family:Verdana;color:#aaaaaa;">

        <div class=" text-center text-white jumbotron"  style="background-color:rgb(48, 4, 37);margin-bottom:0">
          <h1>Banking</h1>
        </div>
        
        <div style="overflow:auto">
          
          <div class="menu border_menu id1">
            <h2><a href="/bar" class="id_a">Bar</a></h2>
            <h2><a href="/line" class="id_a">Line</a></h2>
            <h2><a href="/pie" class="id_a">Pie</a></h2>
            <h2><a href="/scatter" class="id_a">Scatter</a><h2>
          </div>
        
          <div class="main">
            <div class="container" style="position: relative; width:30vw;">
                    <canvas id="myChart" width="450" height="450"></canvas>

                  </div>
          </div>
        
         
        </div>
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

   <script>

      

      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',      // Define chart type
        data: {
        labels: {{labels | tojson}},
        datasets: [{

            label: "Sum of payment",
            data: {{values | tojson}},
           borderColor: "rgba(75,192,192,1)",
            backgroundColor: "#8e5ea2",
            }]
          },
          options: {
            title:{
              display: true,
              fontSize: 12,
              text: 'Custom Chart Title'

            },
            scales: {
            yAxes: [
              {
              id: 'sumofpayment',
              ticks: {
                        beginAtZero: true,
                    },
               scaleLabel: {
                        display: true,
                        labelString: 'Sum of payment'
                      }
                },
            ],
            xAxes: [
              {
              id: 'year',
              ticks: {
                        beginAtZero: true,
                    },
               scaleLabel: {
                        display: true,
                        labelString: 'Year'
                      }
                },
            ]}
          }
      });



</script>
</html>